<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="emp" class="com.cognizant.model.Employee">
   <property name="employeeId" value="127"></property>
   <property name="employeeName" value="devi"></property>
    <property name="salary" value="80000"></property>
    <property name="emailId" value="pavi@gmail.com"></property>
     <property name="contactno" value="9874563214"></property>
    </bean>
</beans>